@import url('//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons')
@import '~vue-material/dist/theme/engine'

@include md-register-theme('custom', (primary: #ffa000, accent: #ffa000))

@import '~vue-material/dist/theme/all'

body
    font-family: 'Roboto', sans-serif

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus
    -webkit-box-shadow: 0 0 0px 1000px #fff inset

//.md-accent
//    background-color: #ff8f00 !important
//    color: white !important

.md-list-item-content
  cursor: pointer
  &:hover
    background-color: #eee

.wrapper
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0
    margin: 0
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    background-size: cover

.center-align
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.login-wrapper, .signup-wrapper
    width: 40vw

.btns-wrapper
    text-align: right

.content-card
    width: 70vw
    margin: 20px 15vw
    padding: 20px
    max-height: 87vh
    overflow-y: auto

.poster
  width: 25vw
  margin: 0 20px 0 0
  float: left
